.pane_view {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    @include clearfix();
}

.pane_view__pane {
    display: block;
    width: 50%;
    margin: 0;
    padding: 0;
    height: 100%;
    float: left;
}

.pane_view__wrapper {
    display: block;
    padding: 30px;
}

@media all and (max-width: 740px) {
    .pane_view__pane {
        width: auto;
        float: none;
        min-height: 0 !important;
        height: 600px;
        &:first-child {
            min-height: 0;
            width: auto;
            height: auto;
        }
    }
}

@media all and (max-width: 500px) {
    .pane_view__pane {
        height: 400px;
        &:first-child {
            height: auto;
        }
    }
}
