{{#if fields}}
<article class="about clearfix">
        <div class="about__wrapper">
            {{#if fields.excerpt}}
            <p class="about__excerpt">{{{fields.excerpt}}}</p>
            {{/if}}
            {{#if fields.text}}
            <p>{{{fields.text}}}</p>
            {{/if}}
        </div>
</article>
{{/if}}
