<div class="app">
    <header id="header" class="header">
        {{#link-to "index" class="brand"}}{{/link-to}}
        <div class="loader"></div>
        <button class="nav_toggle"><i class="icon-list"></i></button>
    </header>
    <div id="container" class="container">
        {{outlet}}
    </div>
    <footer class="footer" id="footer">
        <nav class="main_nav">
            <ul class="main_nav__list">
                <li class="main_nav__list_item">
                    {{#link-to "home"}}Home{{/link-to}}
                </li>
                <li class="main_nav__list_item">
                    {{#link-to "about"}}About{{/link-to}}
                </li>
                <li class="main_nav__list_item">
                    {{#link-to "music"}}Music{{/link-to}}
                </li>
                <li class="main_nav__list_item">
                    {{#link-to "contact"}}Contact{{/link-to}}
                </li>
            </ul>
        </nav>
    </footer>
</div>
