<div class="fullscreen_video" style="background-image:url(images/video_poster.jpg)">
        <video id="video_home" class="fullscreen_video__object" preload loop
        poster="images/video_poster.jpg">
        {{#each}}
            <source {{bind-attr src=file.url}} {{bind-attr type=file.contentType}} >
        {{/each}}
        </video>
        <button class="fullscreen_video__mute"><i class="icon-volume-mute"></i></button>
        <button class="fullscreen_video__volume"><i class="icon-volume-high"></i></button>
        <button class="fullscreen_video__play"><i class="icon-play"></i></button>
</div>
